<br>
<br>

<h5>ruby_svg_image_generator is a great gem, created for you but specially for your web application users.</h5>
<h5>It is a SVG avatars generator gem based on themes which can be designed by users but also you can find some great pre-designed themes on it.</h5>

<div class="jumbotron">
  <h3>Customize your icon!</h3>
  <p>Generate your awesome icons trying several</p>

  <%= form_tag(welcome_generate_path, :remote => true) do %>
    <h4>1. Select a theme</h4>
    <%= select_tag "theme", options_for_select(RubySvgImageGenerator::THEMES, RubySvgImageGenerator::T_HUMAN_AVATARS), :class => "form-control" %>
    <br>

    <h4>2. Combine the differents options</h4>

    <div class="row">
      <div class="col-xs-6">
        <div id="parts">
          <%= render partial: 'parts' %>
        </div>

        <button id="random" type="button" class="btn btn-info">Random</button>
      </div>
      
      <div class="col-xs-6 text-center">
        <%= image_tag "data:image/svg+xml;utf8, #{raw(@image)}", width: "200px", id: 'image', class: 'img-responsive' %>
      </div>
    </div>
  <% end %>

  <hr>

  <h4>Do you want to create your own svg theme? <%= link_to "PRs are welcome", "https://github.com/monkeyKoders/ruby_svg_image_generator/pulls" %></h4>
</div>

<script type="text/javascript">
  $("#theme").change(function(){
    $.ajax({
      url: "<%= welcome_theme_change_path %>",
      data: {theme: $(this).val()},
      success: function(data) {
        eval(data);
      }
    });
  });

  $("#random").click(function(){
    $("#theme").trigger("change");
  });
</script>
