<h1>RubySvgImageGenerator</h1>

<%= link_to "https://travis-ci.org/monkeyKoders/ruby_svg_image_generator", :target => "_blank" do %>
  <%= image_tag "https://travis-ci.org/monkeyKoders/ruby_svg_image_generator.svg?branch=master" %>
<% end %>

<%= link_to "https://coveralls.io/repos/github/monkeyKoders/ruby_svg_image_generator/badge.svg?branch=master", :target => "_blank"  do %>
  <%= image_tag "https://coveralls.io/repos/github/monkeyKoders/ruby_svg_image_generator/badge.svg?branch=master" %>
<% end %>

<%= link_to "https://codeclimate.com/github/monkeyKoders/ruby_svg_image_generator", :target => "_blank" do %>
  <%= image_tag "https://codeclimate.com/github/monkeyKoders/ruby_svg_image_generator/badges/gpa.svg" %>
<% end %>
